@charset "utf-8";

/* layout */
#wrap {width: 100%; margin: 0 auto;}
#header {width: 100%;}

/* container */
.container {width: 1536px; margin: 0 auto; }

/* header */
#header .header {height: 60px; width: 100%;} 
#header .header nav {box-shadow: 0 0 4px; padding: 0 192px;}
#header .header nav .logo {float: left; color: #000; font-size: 36px;}
#header .header nav ul {float: right;}
#header .header nav ul li{float: left; padding-left: 32px; line-height: 60px;}
#header .header nav ul li:first-child{padding-left: 0;}
#header .header nav ul li.active a{color: #82bbb5;}
#header .header nav ul li a{display: block; color: #000; font-size: 24px; text-align: center;}

/* home */
#home {height: 828px; background: url(../img/home_bg.jpg) no-repeat;}
#home .home_bg{text-align: center;}
#home .home_bg .title {color: #273c51; font-size: 28px; padding-top: 99px;}
#home .home_bg .sub_title {color: #2d2f33; font-size: 14px; padding-top: 35px;}


/* media query */
@media (max-width: 768px) {
    /* header */
    #header .header nav {padding: 0 30px; position: relative;}
    #header .header nav .logo {font-size: 18px; position: absolute; top: 50%; transform: translateY(-50%);}
    #header .header nav ul li a{font-size: 12px;}
}









