<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>layout7_1</title>
    <link rel="stylesheet" href="css/style7_1.css">
</head>
<body>
    <div id="wrap">
        <header id="header"></header>
        <section id="banner"></section>
        <section id="content1">
            <nav class="nav"></nav>
            <article class="article_right1"></article>
            <article class="article_right2"></article>
        </section>
        <section id="content2">
            <article class="article_box1"></article>
            <article class="article_box2"></article>
            <article class="article_box3"></article>
        </section>
        <section id="content3">
            <article class="article_square1"></article>
            <article class="article_square2"></article>
            <article class="article_square3"></article>
            <article class="article_square4"></article>
        </section>
        <footer id="footer"></footer>
    </div>
<!--
    <div id="wrap">
        <header id="header"></header>
        <banner id="banner"></banner>
        <aside id="aside"></aside>
        <section id="article">
            <div class="art1"></div>
            <div class="art2"></div>
        </section>
        <section id="contents">
            <div class="cont1"></div>
            <div class="cont2"></div>
            <div class="cont3"></div>
        </section>
        <section id="gallery">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </section>
        <footer id="footer"></footer>
    </div>
-->
</body>
</html>