@charset 'utf-8';
/*

*{margin: 0; padding: 0;}
body{background: #e3f2fd}
#wrap{width: 1200px; margin: 0 auto;}
#header{width: 100%; height: 100px; background: #0d47a1;}
#banner{width: 100%; height: 300px; background: #1565c0;}
#aside{width: 30%; height: 500px; background: #1976d2;}
#article{}
#article > div{float: left; width: 70%; height: 250px;}
#article > div.art1{background: #1e88e5;}
#article > div.art2{background: #2196f3;}
#contents{}
#contents > div{float: left; width: 33.3333%; height: 300px;}
#contents > div.cont1{background: #42a5f5;}
#contents > div.cont2{background: #64b5f6;}
#contents > div.cont3{background: #90caf9;}
#gallery{width: 90%; padding: 5%; background: #bbdefb;}
#gallery > div{width: 23%; height: 150px; margin: 1%; background: #448aff;}
#footer{clear: both; width: 100%; height: 100px; background: #2979ff;}*/

*{margin: 0; padding: 0;}
body{border-color: #e3f2fd}
.clearfix::before, .clearfix::after{display:block; content:''; clear:both;}
#wrap{width: 1200px; margin: 0 auto;}
#header{width: 100%; height: 100px; background: #b3defe;}
#banner{width: 100%; height: 400px; background: #7ecbfd;}

#content1{overflow: hidden;}
#content1 .nav{float: left; width: 30%; height: 500px; background: #43b5fc;}
#content1 .article_right1{float: left; width: 70%; height: 250px; background: #00a5fb;}
#content1 .article_right2{float: left; width: 70%; height: 250px; background: #0096fa;}

#content2{overflow: hidden;}
#content2 .article_box1{float:left; width:33.3333%; height: 300px; background: #0088ec;}
#content2 .article_box2{float:left; width:33.3333%; height: 300px; background: #0076d9;}
#content2 .article_box3{float:left; width:33.3333%; height: 300px; background: #0064c6;}

#content3{overflow: hidden; width: 90%; padding: 5%; background: #00a6fc;}
#content3 .article_square1{float: left; width:23%; height: 200px; margin:1%; border-radius:5px; background: #0076d9;}
#content3 .article_square2{float: left; width:23%; height: 200px; margin:1%; border-radius:5px; background: #0076d9;}
#content3 .article_square3{float: left; width:23%; height: 200px; margin:1%; border-radius:5px; background: #0076d9;}
#content3 .article_square4{float: left; width:23%; height: 200px; margin:1%; border-radius:5px; background: #0076d9;}

#footer{width: 100%; height: 100px; background: #43b5fc;}

/* 화면 너비가 0 ~ 1200px 일 경우 */
@media (max-width:1220px){
    #wrap{width: 100%;}
    
    #content2 .article_box1{width:50%;}
    #content2 .article_box2{width:50%;}
    #content2 .article_box3{display: none;}
    
    #content3 .article_square1{width: 31.3333%;}
    #content3 .article_square2{width: 31.3333%;}
    #content3 .article_square3{width: 31.3333%;}
    #content3 .article_square4{display: none;}
}

/* 화면 너비가 0 ~ 768px 일 경우 */
@media (max-width:768px){
    #content2 .article_box1{width:100%;}
    #content2 .article_box2{width:100%;}
}

/* 화면 너비가 0 ~ 520px 일 경우 */
@media (max-width:520px){
    #content1 .nav{width: 100%; height: 200px;}
    #content1 .article_right1{width: 100%; height: 200px;}
    #content1 .article_right2{width: 100%; height: 200px;}
    
    #content3 .article_square1{width: 98%; border-radius:5px;}
    #content3 .article_square2{width: 98%; border-radius:5px;}
    #content3 .article_square3{width: 98%; border-radius:5px;}
}


